
/* font-family: 'Playfair Display' */
@font-face {
    font-family: 'Playfair Display', serif;
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}

/* font-family: 'Merriweather' */
@font-face {
    font-family: 'Merriweather', serif;
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
}

/* font-family: 'Poppins' */
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

/* font-family: 'Abril Fatface' */
@font-face {
    font-family: 'Abril Fatface', cursive;
    src: url('../fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
}