@import url('./fonts.css');

/*--- global ---*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;    
}
.title {
    font-family: 'Abril Fatface';
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.button {
    background: #000000;
    padding: 13px 28px;
    color: white;
    font-size: 13px;
    border: 0;
    border-radius: 4px;    
}
.margin {
    margin: 0rem 8rem; 
    padding: 3rem 15px;    
}
a {
    text-decoration: none;
    cursor: pointer;
}

/*--- navbar ---*/
.center {
    text-align: center;
}
.center-text {
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
    color: #000000;
}
.center-text:hover {
    color: #000000;
    opacity: 0.5;
    text-decoration: none;
}
.navbar-inner {
    background:transparent;
}

/*--- header ---*/
.header .bg-home {
    background-image: url('../images/home-bg.jpg');
    background-size: auto; 
    height: 100vh;
}
.header .header-content {
    margin: 10rem 2rem;
    color: white;
}
.header span {
    font-size: 1.3rem;
    font-family: 'Playfair Display', serif;    
}
.header h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
    margin-top: 1rem;  
    font-family: 'Playfair Display', serif;    
}

/*--- about ---*/
.about {
    margin: 7rem 8rem;
}
.about .about-content h4 {
    font-weight: 600;
    margin-bottom: 1rem;
}
.about .about-content p {
    line-height: 2;
}
.about .about-images .about-img {
    width: 20rem;
    box-shadow: 1px 1px 70px #b5b5b5;
    transform: translate(115px, 0px);
    z-index: 1;
    position: relative;    
}
.about .about-images .dotted {
    position: absolute;
    height: 25rem;
    z-index: 0;
    transform: translate(-125px,-45px);    
}

/*--- features ---*/
.feature-style {
    text-align: left;
}
.feature-title {
    color: #000000;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Abril Fatface';
}
.feature-style p {
    color: #000000;
}

/*--- gallary ---*/
.gallary {
    background-color: #F7F7F7;
}
.gallary img {
    width: 300px;
    height: 100%;
    margin-bottom: 2rem;
}
.gallary .gallary-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.gallary .gallary-content .list {
    list-style: none; 
    display: flex;   
}
.gallary .gallary-content .list a {
    color: #000000;
    font-size: 0.8rem;
    padding: 1rem;
}
.gallary .gallary-content .list a :hover {
    color: #000000;
    text-decoration: none;
}
.gallary .gallary-content .currant {
    font-weight: 600;
}
.gallary .gallary-button {
    text-align: center;
}


/*--- info ---*/
.info {
    margin: 8rem 8rem;
}
.info .box {
    margin-top: 1rem;
    background: #f5f5f5;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    max-inline-size: 20rem;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 40px;
}
.info .box .date {
    margin-bottom: 8rem;
}
.info .box .date .day {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0rem;    
    font-family: 'Playfair Display', serif;
}
.info .box .info-text-gray {
    font-size: 0.6rem;
    opacity: 0.5;
    font-weight: 600;
}
.info .box .info-content h5 {
    font-size: 0.7rem;
    margin-bottom: 1rem;    
}
.info .box .info-content h4 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

/*--- contact ---*/
.contact {
    background: #F7F7F7;
}
.contact .address .contact-info span {
    font-size: 16px;
    opacity: 0.5;
    font-weight: 400;
}
.contact .address .contact-info p {
    font-size: 1rem;
    line-height: 1.8rem;
    color: #000000;
    font-weight: 500;
    margin-bottom: 3rem;
}
.contact .address .contact-info a {
    color: #000000;
}
.contact .address .contact-info .social {
    tab-size:16;
}
/*
.contact .form {
    max-width: 100rem;
}
*/
.contact .form .text {
    font-size: 12.8px;
    background: transparent;
    margin-bottom: 2rem;
    padding-bottom: 2rem;    
}
.contact .map iframe {
    width: 100%;
    height: 20rem;
    padding-bottom: 2rem;
}

/*--- footer ---*/
footer {
    background-color: #F7F7F7;
    text-align: center; 
}
footer .social a {
    color: #000000;
}