@import url('./fonts.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;    
}
.title {
    font-family: 'Abril Fatface';
    font-size: 2.2rem;
    font-weight: 800;
}

.header .bg-home {
    background-image: url('../images/home-bg.jpg');
    background-size: auto; 
    height: 100vh;
}
.header .header-content {
    margin: 10rem 8rem;
    color: white;
}
.header span {
    font-size: 1rem;
    font-family: 'Playfair Display', serif;    
}
.header h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
    margin-top: 1rem;  
    font-family: 'Playfair Display', serif;    
}

.about {
    margin: 6rem 8rem;
}
.about .about-content h4 {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.about .about-content p {
    line-height: 2;
}
.about .about-images .about-img {
    width: 20rem;
    box-shadow: 1px 1px 70px #b5b5b5;
    transform: translate(115px, 0px);
    z-index: 1;
    position: relative;    
}
.about .about-images .dotted {
    position: absolute;
    height: 25rem;
    z-index: 0;
    transform: translate(-125px,-45px);    
}
